/* Comment for lab 3 */

* {
    background-color: #f0f0f0;
}

section {
    border-style: solid;
    border-color: rgb(43, 43, 43);
    border-width: 1px;
    border-radius: 20px;
}

#footer {
    text-align: center;
}